body {
    font-family: "Margarine", sans-serif;
    color: whitesmoke;
    background-color: rgb(27, 27, 27);
    background-image: url(Display/184602-50-cent-wallpaper-1680x1050-popular.jpg);
}

#wrapper {
    width: 1080px;
    margin: 16px auto;
    padding: 20px;
    background-color: rgb(27, 27, 27);
    border: 4px solid whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#float_middle {
    display: block;
    margin: 16px 16px 16px 64px;
    border-radius: 10px;
}

header {
    grid-column: span 12;
}

header h1 {
    text-align: center;
    margin: 12px;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 16px;
    border-radius: 15px;
}

header p {
    float: right;
    background-color: rgb(0, 0, 0);
    text-align: right;
    font-size: 18px;
    margin: 12px;
    padding: 12px;
    border-radius: 15px;
}

main {
    grid-column: span 8;
    background-color: rgb(0, 0, 0);
    margin-bottom: 45px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

main h2 {
    border-top-left-radius: 15px;
    text-align: center;
    font-weight: 120%;
}


aside {
    grid-column: span 4;
    background-color: rgb(0, 0, 0);
    margin-bottom: 45px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 5px;
}

aside h2 {
    border-top-right-radius: 15px;
    text-align: center;
    font-weight: 120%;
}

aside p {
    text-align: justify;
    background-color: rgb(27, 27, 27);
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}