html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#canvas1 {
  display: inline-block;
  position: relative;
  transform-origin: top;
  opacity: 0;
  transform: translate(0, -100px);
  animation: appear 1s linear infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}