main {
    grid-column: span 12;
    background-color: rgba(0, 20, 125, 1);
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}

main p {
    text-align: justify;
    background-color: rgba(10, 20, 95, 1);
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}

#float {
    width: 300px;
    height: 300px;
    float: left;
    margin: 16px;
    padding: 10px;
    background: rgba(0, 20, 125, 1);
}