/* Default Layout (Desktop) */

html {
    background-image: url(Display/IMG_0055.jpg);
}

#wrapper {
    width: 960px;
    margin: 16px auto;
    padding: 20px;
    background-color: black;
    border: 4px solid whitesmoke;
    border-radius: 10px;
}

.RD_img {
    width: 75%;
    display: block;
    margin: 1em 3em;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
    color: white;
    background-color: black;
    max-width: 960px;
    margin: 0rem auto;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;
}

article {
    grid-column: span 1;
}

h1 {
    text-transform: uppercase;
    text-shadow: black 1px 1px 1px;
    font-size: 4em;
    text-align: center;
    margin: 0 0 .25em 0;
    padding: 0;
    border-bottom: 3px solid white;
    opacity: 0;
    transform: translate(0, -30px);
    animation: present 1s ease-in forwards;
}

h2,
h3 {
    margin: 0;
    text-align: center;
    padding: .25em 0 .25em 0;
    border-bottom: 3px solid white;
}


@keyframes present {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media all and (max-width: 50rem) {

    /* Tablet Display*/
    .RD_img {
        width: 100%;
        margin: 1em 2em;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
    }
}

@media all and (max-width: 30rem) {

    /* Mobile Display*/
    .RD_img {
        width: 100%;
        margin: 1em;
    }

    main {
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
    }
}